# --- Виртуальное окружение ---
venv/
.venv/

# --- Python мусор (байт-код) ---
*.pyc
__pycache__/

# --- База данных ---
instance/
site.db
*.sqlite3

# --- ЗАГРУЖАЕМЫЕ ФАЙЛЫ (НОВОЕ) ---

# 1. Игнорируем папку с документами задач (полностью)
app/static/uploads/*

# 2. Игнорируем папку с аватарками...
app/static/avatars/*

# 3. ...НО делаем исключение для стандартной картинки!
# (Без этого знака "!" гит проигнорирует и её, а она нужна новым юзерам)
!app/static/avatars/default.png